include _ui
//-
  The template for displaying the application framework.
  Displays all of the block sections and everything up till "#main"
  @package WordPress
  @subpackage SFC_Bosalab_2014
  @since 1.0
//-
  !!! 5
  +IE7
    html.ie.ie7(lang!='<?php echo get_bloginfo("language"); ?>')
  +IE8
    html.ie.ie8(lang!='<?php echo get_bloginfo("language"); ?>')
  +notIE78
    html(lang!='<?php echo get_bloginfo("language"); ?>')
doctype html
:php
  $u = $_SERVER['HTTP_USER_AGENT'];
  $isIE7 = (bool)preg_match('/msie 7./i', $u);
  $isIE8 = (bool)preg_match('/msie 8./i', $u);
  $IEclass = '';
  if ( $isIE7 ) { $IEclass = 'ie ie7'; } elseif ( $isIE8 ) { $IEclass = 'ie ie8'; }
html(lang!='<?php echo get_bloginfo("language"); ?>', class!='<?php echo $IEclass; ?>', xmlns:fb="http://ogp.me/ns/fb#")
  head
    meta(charset='UTF-8')
    //- meta(name='viewport', content='width=device-width')
    //- meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='Cache-Control', content='no-cache')
    meta(http-equiv='Expires', content='0')
    meta(name='google-site-verification', content='TWAbSR-4UiFipZfn0CxpRseuj-iGAPdLqPR2j7TOjHo')

    title
      <?php wp_title( '|', true, 'right' ); ?>

    //- Stylesheets
    //----------------------------------------------------------------
    block styles
      link(rel='profile', href='http://gmpg.org/xfn/11')
      link(rel='pingback', href!="<?php bloginfo( 'pingback_url' ); ?>")
      link(href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css")
      link(rel='stylesheet', href!="<?php echo (get_template_directory_uri() . '/public/css/style.css') ?>")

    <?php // wp_head(); ?>
    :php
      do_action( 'get_header' );

  <?php $admin_class = ''; if ( is_user_logged_in() ) { $body_class = 'signed_in'; } ?>
  body(class!="<?php echo $body_class;?><?php get_body_class(); ?>")
    block api
      .ui-plugins
        #fb-root
        #api(data-url!="<?php echo home_url(); ?>")

    .ui-progress
      .progress.progress-striped
        .progress-bar

    //- .ui-dev
    //-   .preview

    //-
      pre.ui-dev2
        <?php print_r($wp_query); ?>

    .ui-container
      header.ui-header(role='banner')
        block header_bar
          .header-bar-wrap
            .header-bar
              .header-bar__site-wrap
                .header-bar__site
                  a.js-home(href='/', title!="<?php echo esc_attr( get_bloginfo( 'name', 'display' ) ); ?>", rel='home')
                    h1.header-bar__title <?php bloginfo( 'name' ); ?>
                    p.header-bar__description <?php bloginfo( 'description' ); ?>
                    i.header-bar__home-button.fa.fa-home
              nav.header-bar__navigation-menu-wrap(role='navigation')
                .header-bar__navigation-menu
                  <?php wp_nav_menu( array( 'theme_location' => 'primary', 'menu_class' => 'navigation-menu' ) ); ?>
              .header-bar__search-wrap
                .header-bar__search
                  form.header-bar__search-form(role='search', method='get', action!="<?php echo home_url( '/' ); ?>")
                    label.header-bar__search-form__label
                      input#s.header-bar__search-form__field(
                        type='search',
                        placeholder='ウェブサイトを検索',
                        autocomplete='off',
                        value!="<?php $sq = get_search_query(); if ( $sq ) { echo $sq; } else { echo 'ウェブサイトを検索'; } ?>",
                        name='s',
                        title='検索',
                        aria-label='検索',
                        aria-autocomplete='list',
                        aria-expanded='false',
                        role='combobox',
                        tabindex='',
                        spellcheck='false',
                      )
                    p.header-bar__search-form__icon
                      span |
                      i.fa.fa-search
                    input.header-bar__search-form__submit(type='submit', value='検索')
        block header_breadcrumbs
          .header-breadcrumbs-wrap
            .header-breadcrumbs
              .js-breadcrumbs
                <?php put_breadcrumbs(); ?>

      .ui-content
        block content
          //- メインコンテンツ
          article.ui-article(role='main')
            .ui-page-loader
              .container
                .circle
                p.message
                  | Loading.<br />
                  | Please wait.
            #container
              //- block article
            #galleryBox
            #contactBox

      footer.ui-footer
        block footer
          .footer-contents.container
            .row
              .footer-about.col-sm-2.col-xs-12
                hgroup.footer-title
                  h1 About
                .footer-content
                  ul.links
                    li.link: a(href!="<?php echo home_url(); ?>/about#lab")
                      span 研究会について
                    //- li.link: a(href!="<?php echo home_url(); ?>/about#prof")
                    //-   span 大木聖子について
                    //- li.link: a(href!="<?php echo home_url(); ?>/about#members")
                    //-   span メンバー紹介
                    //- li.link: a(href!="<?php echo home_url(); ?>/about#welcome")
                    //-   span 新規履修について

              .footer-projects.col-sm-2.hidden-xs
                hgroup.footer-title
                  h1 Project
                .footer-content

              .footer-links.col-sm-2.hidden-xs
                hgroup.footer-title
                  h1 Link
                .footer-content
                  ul.links
                    li.link: a(href!="http://www.keio.ac.jp")
                      span 慶應義塾大学

              .footer-access.col-sm-3.hidden-xs
                hgroup.footer-title
                  h1 Access
                .footer-content
                  #map_canvas_footer
                  .address
                    p
                      | 慶應義塾大学 湘南藤沢キャンパス（ＳＦＣ）<br />
                      | 〒252-0882 神奈川県藤沢市遠藤5322公式ウェブ

              .footer-feedback.col-sm-3.hidden-xs
                hgroup.footer-title
                  h1 Feedback
                .footer-content
                  <?php echo do_shortcode('[contact-form-7 id="647" title="サイトへのフィードバック"]'); ?>
                  p
                    | ※お問い合わせは
                    a(href!="<?php echo home_url(); ?>/contact") こちら
                    | 。
            .row
              .footer-social.col-xs-12
                hgroup.footer-title
                  h1 Share Us
                .footer-content
                  span.twitter
                    a.twitter-share-button(
                      href='//twitter.com/share',
                      data-url='https://www.facebook.com/bosailab',
                      data-text='大木研究室公式ウェブサイト',
                      data-lang='ja',
                      data-hashtags='#bosailab'
                    )
                  //- Facebook
                  span.facebook
                    fb:like(
                      href!="<?php echo home_url(); ?>",
                      layout='standard',
                      action='like',
                      show_faces='true',
                      share='false'
                    )
                    //- .fb-like(
                    //-   data-href!="<?php echo home_url(); ?>",
                    //-   data-width=450,
                    //-   data-layout='button_count',
                    //-   data-show-faces='true',
                    //-   data-send='true'
                    //- )
          .ui-language
            <?php wp_footer(); ?>

          .ui-site
            p.site-info
              | Copyright © <?php echo date("Y") ?>
              strong  Oki Satoko Lab.
              |  in SFC Keio University, All Rights Reserved.

      a.ui-scrollto(href='javascript:void(0)')
        i.fa.fa-caret-up


    //- Javascripts
    //----------------------------------------------------------------
    block template
      include _template

    block json
      script(id='json', type='application/json')
        :php
          $post_types = get_post_types( array( 'public' => true, '_builtin' => false ) );
          $except_post_types = array('photolog', 'project');
          $param = array(
            'posts_per_page' => 8,
            'post_type' => array_diff($post_types, $except_post_types),
            'post_status' => 'publish',
            'orderby' => 'date',
            'order' => 'DESC'
          );
          $wp_query = new WP_Query();
          $wp_query->query($param);
          if ( $wp_query->have_posts() ) {
            $records = array();
            while ( $wp_query->have_posts() ) {
              $wp_query->the_post();
              $records[] = array(
                'title'   => get_the_title(),
                'content' => apply_filters('the_content', get_the_content())
              );
            }
            echo json_encode($records);
          }
          echo json_encode($data, JSON_HEX_TAG | JSON_HEX_APOS | JSON_HEX_QUOT | JSON_HEX_AMP | JSON_PRETTY_PRINT);

    block scripts
      +ltIE9
        script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js')

      //- Libraries
      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1-beta1/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
      //- script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/wow/0.1.6/wow.min.js')

      //- Google Maps
      script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
      //- Google+ Button
      script(type='text/javascript', src='https://apis.google.com/js/platform.js') {lang: 'ja', parsetags: 'explicit'}

      //- My Scripts
      //- script(src!="<?php echo (get_template_directory_uri().'/public/js/backbone_debug.js') ?>")
      script(src!="<?php echo (get_template_directory_uri().'/dist/js/script.js') ?>")

    //- :php
    //-   do_action( 'wp_print_footer_scripts' );
    //-   do_action( 'wp_footer' );


