include _ui

script#tmpl-contactbox(type='text/template')
  .gallery-layer
    .gallery-layer__close-target--large
    .gallery-layer__vertical-center
      .gallery-layer__vertical-center__cell
        .gallery-layer__content-wrap
          .gallery-layer__content
            .gallery-layer__close-target--small
            .gallery-layer__media
            //- .gallery-button-close
            //-   i.fa.fa-times
    i.gallery-layer__close ×

script#tmpl-contact(type='text/template')
  .contact-content-wrap
    .contact-content
      i.contact-content__close ×
      <?php echo do_shortcode('[contact-form-7 id="4" title="お問い合わせフォーム"]'); ?>

script#tmpl-gallerybox(type='text/template')
  .gallery-layer
    .gallery-layer__close-target--large
    .gallery-layer__vertical-center
      .gallery-layer__vertical-center__cell
        .gallery-layer__content-wrap
          .gallery-layer__content
            .gallery-layer__media
            //- .gallery-button-close
            //-   i.fa.fa-times
    i.gallery-layer__close ×

script#tmpl-gallery(type='text/template')
  .gallery-content__picture-wrap
    .gallery-content__picture
      +ui-load-event
      nav.gallery-navigations(role='navigation')
        <% if (previous_url) { %>
        a(rel='prev', href!="<%- previous_url %>")
          span.gallery-navigation.gallery-navigation--next: i.fa.fa-angle-right
        <% } if (next_url) { %>
        a(rel='next', href!="<%- next_url %>")
          span.gallery-navigation.gallery-navigation--prev: i.fa.fa-angle-left
        <% } %>
  .gallery-content__info-wrap
    .gallery-content__info
      header.gallery-content__info__header
        //- カレンダーアイコン
        .ui-calendar
          time <%- date || "1999/12/31 23:59:59" %>
          .date-icon
            .date-month
            .date-day
            .date-year
        //- タイトル
        h1.gallery-content__title
          a(href!='<%- url %>'): span <%- title %>
        //- 相対時刻
        .gallery-content__relative-time-wrap
          p.gallery-content__relative-time(data-time!="<%- date %>")
        //- タグ
        .gallery-content__tags
          .ui-tags: p: span Tags
        //- メタタグ
        .gallery-content__edit
          //- 編集アイコン(ログイン時のみ)
          p.ui-edit-link
            a.post-edit-linka(href!='<%- url %>'): i.fa.fa-pencil
      article.gallery-content__info__article
        //- 本文
        .gallery-content__body
          .excerpt.ellipsis.multiline <%= acf.body %>
      footer.gallery-content__info__footer.container-fluid
        .gallery-content__info__social-wrap.row
          .gallery-content__info__social.facebook.col-xs-6
            fb:like#fb-like(href='', width='218', layout='box_count' action='like', show_faces='true', share='false')
          .gallery-content__info__social.twitter.col-xs-6
            a#tw-like.twitter-share-button(href='https://twitter.com/share' data-lang='ja', data-hashtags='bosailab', data-dnt='true', data-count='vertical')
          .gallery-content__info__social.googleplus.col-xs-6
            .g-plusone(data-size='tall')
          .gallery-content__info__social.pocket.col-xs-6
            a#pk-like.pocket-btn(data-pocket-label='pocket', data-pocket-count='vertical',  data-pocket-align='center', data-lang='ja')
      .gallery-content__info__close ×

script#tmpl-container(type='text/template')
  .main-layer
    .gallery-layer__vertical-center
      .gallery-layer__vertical-center__cell
        .gallery-layer__content-wrap
          .gallery-layer__content
            .gallery-layer__media#contents--gallery
    .page-layer__vertical-center
      .page-layer__vertical-center__cell
        .page-layer__content-wrap
          .page-layer__content
            .page-layer__media#contents--page

script#tmpl-content(type='text/template')

script#tmpl-archive(type='text/template')
  <% if (type == 'project') { %>
  .page-layer__media--project__cell
    .archive-media--project-wrap
      .archive-media--project
        .archive-media--photograph-wrap
          .archive-media--background
          a.js-navi-single(href!='<%- url %>')
            .archive-media--photograph
            .archive-media--photograph-shadow
            +ui-loader
        article.archive-media--project__article
          h3.archive-media--project-title.ellipsis
            a.js-navi-single(href!='<%- url %>') <%- title %>
          ul.archive-media--project-tags.ui-tags
        footer.archive-media--project__footer
          .archive-media--project-year
            .starting-year <%- acf.starting_year %>
            .separator -
            .end-year <%- acf.end_year %>
  <% } else if (type == 'photolog') { %>
  .page-layer__media--photolog__cell
    .archive-media--photolog-wrap
      .archive-media--photolog
        .archive-media--background
        .archive-media--photograph-wrap
          a.js-navi-single(href!='<%- url %>')
            .archive-media--photograph
            .archive-media--photograph-shadow
            +ui-loader
        header.archive-media--photolog__header
          .archive-media--photolog__date
        article.archive-media--photolog__article
          h3.archive-media--photolog-title
            a.js-navi-single(href!='<%- url %>') <%- title %>
        footer.archive-media--photolog__footer
          .archive-media--photolog__views
            i.fa.fa-heart
            <%- custom_fields.pvc_views[0] %>

  <% } else if (type == 'report') { %>
  .page-layer__media--report__cell
    .archive-media--report-wrap
      .archive-media--report
        .archive-media--photograph-wrap
          a.js-navi-single(href!='<%- url %>')
            .archive-media--photograph
            .archive-media--photograph-shadow
            +ui-loader
        header.archive-media--report__header
          .ui-calendar
            time <%- date || "1999/12/31 23:59:59" %>
            .date-icon
              .date-month
              .date-day
              .date-year
          .archive-media--report__relative-date
        article.archive-media--report__article
          h3.archive-media--report__title.ellipsis
            a.js-navi-single(href!='<%- url %>') <%- title %>
          p.archive-media--report__excerpt.ellipsis.multiline
  <% } %>

script#tmpl-single(type='text/template')
  <% if (type == 'photolog') { %>
  .gallery-content__picture-wrap
    .gallery-content__picture
      +ui-load-event
  .gallery-content__info-wrap
    .gallery-content__info
      header.gallery-content__info__header
        //- カレンダーアイコン
        .ui-calendar
          time <%- date || "1999/12/31 23:59:59" %>
          .date-icon
            .date-month
            .date-day
            .date-year
        //- タイトル
        h1.gallery-content__title
          a(href!='<%- url %>'): span <%- title %>
        //- 相対時刻
        .gallery-content__relative-time-wrap
          p.gallery-content__relative-time(data-time!="<%- date %>")
        //- タグ
        .gallery-content__tags
          .ui-tags: p: span Tags
        //- メタタグ
        .gallery-content__edit
          //- 編集アイコン(ログイン時のみ)
            p.ui-edit-link
              a.post-edit-linka(href!='<%- url %>'): i.fa.fa-pencil
      article.gallery-content__info__article
        //- 本文
        .gallery-content__body
          .excerpt.ellipsis.multiline <%= acf.body %>
      footer.gallery-content__info__footer.container-fluid
        .gallery-content__info__social-wrap.row
          .gallery-content__info__social.facebook.col-xs-6
            fb:like#fb-like(href='', width='218', layout='box_count' action='like', show_faces='true', share='false')
          .gallery-content__info__social.twitter.col-xs-6
            a#tw-like.twitter-share-button(href='https://twitter.com/share' data-lang='ja', data-hashtags='bosailab', data-dnt='true', data-count='vertical')
          .gallery-content__info__social.googleplus.col-xs-6
            .g-plusone(data-size='tall')
          .gallery-content__info__social.pocket.col-xs-6
            a#pk-like.pocket-btn(data-pocket-label='pocket', data-pocket-count='vertical',  data-pocket-align='center', data-lang='ja')

  <% } else if (type == 'report') { %>
  .page-layer__media--report__cell
    .archive-media--report-wrap
      .archive-media--report
        .archive-media--photograph-wrap
          a.js-navi-single(href!='<%- url %>')
            .archive-media--photograph
            .archive-media--photograph-shadow
            +ui-loader
        header.archive-media--report__header
          .ui-calendar
            time <%- date || "1999/12/31 23:59:59" %>
            .date-icon
              .date-month
              .date-day
              .date-year
          .archive-media--report__relative-date
        article.archive-media--report__article
          //- タイトル
          h1.archive-media--report__title
            a.js-navi-single(href!='<%- url %>'): span <%- title %>
          //- タグ
          .archive-media--report__tags
            .ui-tags: p: span Tags
          //- カスタム投稿フィールド
          .archive-media--report__responsibility
            span
              | 文責：
              strong <%- acf.responsibility %>
          .archive-media--report__members
            span
              | 参加者：
              strong <%- acf.members %>
          //- メタタグ
          .archive-media--report__edit
            //- 編集アイコン(ログイン時のみ)
              p.ui-edit-link
                a.post-edit-linka(href!='<%- url %>'): i.fa.fa-pencil
          //- 本文
          .archive-media--report__body
            .excerpt.ellipsis.multiline <%= content %>
        footer.archive-media--report__footer.container-fluid
          .archive-media--report__social-wrap.row
            .archive-media--report__social.facebook.col-xs-6
              fb:like#fb-like(href='', width='218', layout='box_count' action='like', show_faces='true', share='false')
            .archive-media--report__social.twitter.col-xs-6
              a#tw-like.twitter-share-button(href='https://twitter.com/share' data-lang='ja', data-hashtags='bosailab', data-dnt='true', data-count='vertical')
            .archive-media--report__social.googleplus.col-xs-6
              .g-plusone(data-size='tall')
            .archive-media--report__social.pocket.col-xs-6
              a#pk-like.pocket-btn(data-pocket-label='pocket', data-pocket-count='vertical',  data-pocket-align='center', data-lang='ja')
          nav.archive-media--report__navi-wrap.row
            <% if (previous_url) { %>
            .archive-media--report__navi.col-xs-5
              a.js-navi-prev(rel='prev', href!="<%- previous_url %>"): span
                i.fa.fa-angle-double-up
                strong Prev
            <% } else { %>
            .archive-media--report__navi.col-xs-5
            <% } if (next_url) { %>
            .archive-media--report__navi.col-xs-5.col-xs-offset-2
              a.js-navi-next(rel='next', href!="<%- next_url %>"): span
                strong Next
                i.fa.fa-angle-double-down
            <% } %>

  <% } else if (type == 'project') { %>
  .page-layer__media--project__cell
    .archive-media--project-wrap
      .archive-media--project
        nav.archive-media--project__nav
        header.archive-media--project__header
          .col-xs-3
          .col-xs-6.archive-media--project-titles
            //- タイトル
            h1.archive-media--project__title <%- title %>
            //- 概要
            p.archive-media--project__description <%= acf.description %>
          .col-xs-3
        article.archive-media--project__article
          .archive-media--project__body <%= content %>
        footer.archive-media--project__footer.container-fluid
          .archive-media--project__social-wrap.row
            .archive-media--project__social.facebook.col-xs-6
              fb:like#fb-like(href='', width='218', layout='box_count' action='like', show_faces='true', share='false')
            .archive-media--project__social.twitter.col-xs-6
              a#tw-like.twitter-share-button(href='https://twitter.com/share' data-lang='ja', data-hashtags='bosailab', data-dnt='true', data-count='vertical')
            .archive-media--project__social.googleplus.col-xs-6
              .g-plusone(data-size='tall')
            .archive-media--project__social.pocket.col-xs-6
              a#pk-like.pocket-btn(data-pocket-label='pocket', data-pocket-count='vertical',  data-pocket-align='center', data-lang='ja')
  <% } %>

script#tmpl-static(type='text/template')
  <% if (ptype == 'home') { %>
  .page-layer__media--home__cell
    .archive-media--home-wrap
      .archive-media--home
        .archive-media--home__slider-wrap
          .archive-media--home__slider
        .archive-media--home__main-wrap
          sidebar.archive-media--home__sidebar
            .archive-media--home__sidebar--photolog

            .archive-media--home__sidebar--youtube
              iframe(
                width=320
                height=180
                src='http://www.youtube.com/embed/svqyoVh3Hfw?rel=0&modestbranding=0&showinfo=0&fs=0&controls=1&autohide=1&vq=hd1080'
                frameborder='0'
                allowfullscreen
              )
              //- http://wisdommingle.com/youtube-embedded-player-parameter-customize/
              //- object(width=560, height=315)
              //-   param(name='movie', value='https://www.youtube.com/v/svqyoVh3Hfw?hl=ja_JP&playlist=-mkXkHeqLEs,OW37a07RMTs&version=3&showinfo=1&loop=1')
              //-   param(name='allowFullScreen', value='true')
              //-   param(name='allowScriptAccess', value='always')
              //-   embed(
              //-     width=560, height=315
              //-     src='https://www.youtube.com/v/svqyoVh3Hfw?hl=ja_JP&playlist=-mkXkHeqLEs,OW37a07RMTs&version=3&showinfo=1&loop=1'
              //-     type='application/x-shockwave-flash'
              //-     allowscriptaccess='always'
              //-     allowfullscreen='true')
          .archive-media--home__content
            .archive-media--home__content--report
            .archive-media--home__content--report-more
              a.js-navi-report(href='/report/')
                .archive-media--home__content--report-more__button
                  i.fa.fa-angle-double-right
                  | Read More
            //- <%= content %>
        .archive-media--home__project-wrap
          .archive-media--home__project
            h1.archive-media--home__project__title
              img.img-responsive(
                src!="<?php echo (get_template_directory_uri().'/public/images/home/overview_home_projects_2x.png') ?>",
                width=254, height=41,
                alt='Our Projects'
              )
            .archive-media--home__project__slider
          .archive-media--home__project__more
            | View more projects
            i.fa.fa-caret-right

  <% } else if (ptype == 'about') { %>
  section.post-section.js-scroll(style!="background-image:url(<?php echo (get_template_directory_uri().'/public/images/about/overview_professor_message_back_2x.jpg') ?>);")
    hgroup.page-subtitle
      h2
        img.img-responsive.animate.fadeInUp(
          src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_professor_message_title_2x.png') ?>",
          width=980, height=114,
          alt='SFCから、日本の、いや世界の防災を変えよう。'
        )
    p.text-field
      <%= acf.professor_message %>

  section.post-section
    hgroup.page-subtitle
      .face(style!="background-image: url('<%= acf.professor_face.url %>');")
      h2
        img.img-responsive(
          class='img-responsive',
          src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_about_professor_title_2x.png') ?>",
          width=980, height=75,
          alt='大木 聖子（おおき さとこ）'
        )
    .socials
      a(href='http://raytheory.jp', target='_blank'): i.fa.fa-globe
      a(href='https://twitter.com/toko311', target='_blank'): i.fa.fa-twitter
      a(href='http://youtu.be/cAF8gcdMvGM', target='_blank'): i.fa.fa-youtube-play
      //- a(href='mailto:soki@sfc.keio.ac.jp', target='_blank'): i.fa.fa-envelope
    p.text-field
      <%= acf.about_the_professor %>

  //- section.post-section
  //-   hgroup.page-subtitle
  //-     h2
  //-       img.img-responsive(
  //-         src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_about_projects_title_2x.png') ?>",
  //-         width=980, height=75,
  //-         alt='好きなタイミングで、好きなことに取り組んでください。'
  //-       )
  //-   p.text-field
  //-     span.explanation
  //-       | 防災に関連していれば、何をやっても構いません。
  //-       br
  //-       | ここでは、現在とりくんでいるプロジェクトの一部を紹介します。
  //-     ul.projects
  //-       li.project

  section.post-section.section-members
    hgroup.page-subtitle
      h2
        img.img-responsive(
          src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_members_title_2x.png') ?>",
          width=980, height=112,
          alt='研究会の設立から1年。メンバーは50名を超えました。'
        )
    //- 沿革
    //- .history-field
    //-   i
    //-     .histories
    //-       .history
    //-         .in.animate.bounceInLeft
    //-           datetime.date 2013年04月
    //-           h3.title 始動
    //-           p.description 大木聖子准教授が、湘南藤沢キャンパス(SFC)に着任。
    //-       .history
    //-         .in.animate.bounceInRight
    //-           datetime.date 2013年07月
    //-           h3.title 巡検
    //-           p.description 研究会全体としては初めての東北被災地への巡検をおこないました。
    //-       .history
    //-         .in.animate.bounceInLeft
    //-           datetime.date 2014年04月
    //-           h3.title 改称
    //-           p.description 研究室の名称を『防災デザイン研究室』と改めました。

    //- メンバー一覧
    .text-field-custom
      .face(style!="background-image: url('<%= acf.member_face.url %>');")
      #slider-holder
        #use-years(tabindex='3', title='select a year')
          .slider(aria-controls='graph-canvas')
            .min-label(aria-hidden='true', title='2013/Spr') 2013/Spr
            .tray
              .bar
              .handle-holder(style="left: 0px;" title="2013/Spr")
                .hit-area
                .handle
                .handle-label-holder
                  .handle-label-text 2013/Spr
            .max-label(aria-hidden='true', title='2014/Spr') 2014/Spr
      ul.members.row

  section.post-section(
    style!="background-color:transparent; background-image:url(<?php echo (get_template_directory_uri().'/public/images/about/overview_join_us_back_2x.jpg') ?>); padding:120px 0;"
    )
    hgroup.page-subtitle
      h2
        //- Join Us
        img.img-responsive(
          src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_join_us_title_2x.png') ?>",
          width=980, height=112,
          alt='わたしたちの研究会に、あなたも参加してみませんか。'
        )
    p.text-field(style='color:#fff;')
      <%= acf.join_us %>

  section.post-section
    .container
      //- タイトル
      .access.row
        .col-xs-12
          hgroup.page-subtitle
            h3
              img.img-responsive(
                src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_accessmap_title_2x.png') ?>",
                width=254, height=41,
                alt='アクセスマップ'
              )
        //- 住所とマップ
        .col-xs-12.col-md-6(style='margin-top:50px;')
          .container-fluid
            .row
              .col-xs-3.col-md-2(style='text-align:right;')
                i.fa.fa-map-marker
              .col-xs-9.col-md-10
                p.room
                  strong 慶應義塾大学 湘南藤沢キャンパス
                  span 研究棟 κ305
                address.address
                  span 〒252-0882 神奈川県藤沢市遠藤5322
                  a(href='http://www.sfc.keio.ac.jp/maps.html', style='padding-left:8px;')
                    i.fa.fa-external-link
                    span 公式ウェブ
            .row
              .col-xs-offset-1.col-xs-10
                p
                  span.attention
                    | ※ 当キャンパスへご来場される場合は、必ず事前にご連絡ください。
        .col-xs-12.col-md-6.google-maps: #map_canvas

  <% } else if (ptype == 'publications') { %>
  section.post-section
    p.text-field
      <%= content %>

  <% } else if (ptype == 'contact') { %>
  section.post-section
    .contact-content-wrap
      .contact-content
        <?php echo do_shortcode('[contact-form-7 id="4" title="お問い合わせフォーム"]'); ?>
  <% } %>