include _ui

:php
  // サムネイル
  $thumbnail_url = wp_get_attachment_image_src( get_post_thumbnail_id( $post->ID ), get_post_type().'-single' )[0];

  // クラス名
  $class = 'filter ';
  foreach (get_post_class() as $v) { $class .= ' '.$v; }

  // タクソノミー(カテゴリ)フィルタのためのクラス名
  if ($terms = get_the_terms($post->ID, substr(get_post_type(), 0, 2).'-types')) {
    foreach ( $terms as $term ) { $class .= ' filter-'.esc_html($term->name); }
  }

<?php if ( get_post_type() == 'project' ) { ?>
:php
  // TODO: 子プロジェクトではない場合のみ一覧に出力する

.col-xs-4.mix.archive(
  id!="archive-<?php the_ID(); ?>"
  class!="<?php echo $class; ?> archive-<?php get_post_type(); ?>"
  data-order-created!="<?php the_ID(); ?>"
)
  .archive-cell
    .photograph-container.link
      .background
      a(href!='<?php the_permalink(); ?>')
        .photograph(style!="background-image:url('<?php echo $thumbnail_url; ?>');")
        .photograph-shadow
        span.link-icon +
        +ui-loader
    article.archive-article
      //- タイトル
      h2.title.ellipsis(rel='bookmark')
        a.js-navi-single(href!='<?php the_permalink(); ?>')
          | <?php the_title(); ?>
      //- タクソノミー(カテゴリ)
      ul.taxs
        <?php if ($terms = get_the_terms($post->ID, substr(get_post_type(), 0, 2).'-types')) { ?>
        <?php foreach ( $terms as $term ) { ?>
        li.tax
          | <?php echo esc_html( $term->name ); ?>
        <?php } } ?>
      //- タグ
      //- ul.tags
      //-   <?php if ($post_tags = get_the_tags()) { ?>
      //-   <?php foreach($post_tags as $tag) { ?>
      //-   li.tag <?php echo $tag->name; ?>
      //-   <?php } } ?>
    footer.archive-footer
      //- プロジェクト期間
      .project-term
        .started <?php the_field( 'starting_year' ); ?>
        .separator -
        .ended <?php the_field( 'end_year' ); ?>


<?php } else if ( get_post_type() == 'report' ) { ?>

.col-xs-4.mix.archive(
  id!="archive-<?php the_ID(); ?>"
  class!="<?php echo $class; ?> archive-<?php get_post_type(); ?>"
  data-order-created!="<?php the_ID(); ?>"
)
  .archive-cell
    .photograph-container.link
      .background
      a(href!='<?php the_permalink(); ?>')
        .photograph(style!="background-image:url('<?php echo $thumbnail_url; ?>');")
        .photograph-shadow
        span.link-icon +
        +ui-loader
    article.archive-article
      //- タイトル
      h2.title.ellipsis(rel='bookmark')
        a.js-navi-single(href!='<?php the_permalink(); ?>')
          | <?php the_title(); ?>
      //- タクソノミー(カテゴリ)
      ul.taxs
        <?php if ($terms = get_the_terms($post->ID, substr(get_post_type(), 0, 2).'-types')) { ?>
        <?php foreach ( $terms as $term ) { ?>
        li.tax
          i.fa.fa-tag
          | <?php echo esc_html( $term->name ); ?>
        <?php } } ?>
    footer.archive-footer
      p.excerpt.ellipsis.multiline
        | <?php echo new_excerpt(120); // the_excerpt(); ?>


<?php } else if ( get_post_type() == 'download' ) { ?>

.col-xs-4.mix.archive(
  id!="archive-<?php the_ID(); ?>"
  class!="<?php echo $class; ?> archive-<?php get_post_type(); ?>"
  data-order-created!="<?php the_ID(); ?>"
)
  .archive-cell
    article.archive-article
      //- アイコン
      i.fa.fa-file-text-o.title-icon
      //- タイトル
      h2.title.ellipsis(rel='bookmark')
        a.js-navi-single(href!='<?php the_permalink(); ?>')
          | <?php the_title(); ?>
      //- タクソノミー(カテゴリ)
      ul.taxs
        <?php if ($terms = get_the_terms($post->ID, substr(get_post_type(), 0, 2).'-types')) { ?>
        <?php foreach ( $terms as $term ) { ?>
        li.tax
          i.fa.fa-tag
          | <?php echo esc_html( $term->name ); ?>
        <?php } } ?>
    footer.archive-footer
      //- 本文
      .content.markdown
        <?php the_excerpt(''); ?>


<?php } else { // 実質フォトログ ?>

.mix.archive.archive-default(
  id!="archive-<?php the_ID(); ?>"
  class!="<?php echo $class; ?> archive-<?php get_post_type(); ?>"
  data-order-created!="<?php the_ID(); ?>"
)
  .archive-cell
    .archive-cell-background
    .photograph-container.link
      .background
      a(href!='<?php the_permalink(); ?>')
        .photograph(style!="background-image:url('<?php echo $thumbnail_url; ?>');")
        .photograph-shadow
        span.link-icon +
        +ui-loader
    header.header
      .date
        | <?php echo toLastUpdateString( new DateTime( get_the_time('Y-m-d H:i:s') ) ), PHP_EOL; ?>
    article.article
      h2.title
        a(href!='<?php the_permalink(); ?>')
          | <?php the_title(); ?>
    footer.footer
      .views
        i.fa.fa-heart
        | <?php echo $post->pvc_views; ?>

<?php } ?>