extends _application
//-
  The home template file.

  This is the most generic template file in a WordPress theme and one of the
  two required files for a theme (the other being style.css).
  It is used to display a page when nothing more specific matches a query.
  For example, it puts together the home page when no home.php file exists.

  Learn more: http://codex.wordpress.org/Template_Hierarchy

  @package WordPress
  @subpackage SFC_Bosalab_2013
  @since 1.0

block page_article
  div(class!="page-layer__media--<?php echo $page_slug; ?>--page")
    .page-layer__media--home__cell
      .archive-media--home-wrap
        .archive-media--home
          .archive-media--home__slider-wrap
            .archive-media--home__slider(
              style!="background-image:url(<?php echo (get_template_directory_uri().'/public/images/home/overview_home_header-title_back_2x.jpg') ?>);"
            )
            h1.archive-media--home__slider--title
              img.img-responsive.animate.fadeInUp(
                src!="<?php echo (get_template_directory_uri().'/public/images/home/overview_home_header-title_2x.png') ?>",
                width=980, height=114,
                style='width:980px; height:114px; visibility:hidden;',
                alt='RE:DESIGN BOSAI'
              )
            a(href!='/about', title!='Learn More', style='visibility:hidden;')
              .archive-media--home__slider--button.archive-media--home__slider--button--left.animate.zoomIn(
                  data-wow-duration='2s',
                  data-wow-delay='0.8s'
                ) Learn More
            a(href!='/project', title!='Projects', style='visibility:hidden;')
              .archive-media--home__slider--button.archive-media--home__slider--button--right.animate.zoomIn(
                  data-wow-duration='2s',
                  data-wow-delay='1.0s'
                ) Projects

          //- .archive-media--home__main-wrap

          .archive-media--home__project-wrap.color
            .archive-media--home__project
              h1.archive-media--home__project__title
                img.img-responsive(
                  src!="<?php echo (get_template_directory_uri().'/public/images/home/overview_home_activities_2x.png') ?>",
                  width=254, height=41,
                  alt='Activities'
                )
              .archive-media--home__youtube
                iframe(
                  width=320
                  height=180
                  src='http://www.youtube.com/embed/svqyoVh3Hfw?rel=0&modestbranding=0&showinfo=0&fs=0&controls=1&autohide=1&vq=hd1080'
                  frameborder='0'
                  allowfullscreen
                )

          .archive-media--home__project-wrap
            .archive-media--home__project
              h1.archive-media--home__project__title
                img.img-responsive(
                  src!="<?php echo (get_template_directory_uri().'/public/images/home/overview_home_projects_2x.png') ?>",
                  width=254, height=41,
                  alt='Our Projects'
                )
              .archive-media--home__project__slider.row
                :php
                  $param = array(
                    'post_type' => ['project'],
                    'post_status' => 'publish',
                    'orderby'=> 'modified',
                    'order' => 'ASC',
                    'posts_per_page' => 3
                  );
                  $wp_query = new WP_Query();
                  $wp_query->query($param);
                  if ( $wp_query->have_posts() ) { while ( $wp_query->have_posts() ) {
                    $wp_query->the_post();
                    $thumbnail_url = wp_get_attachment_url( get_post_thumbnail_id($post->ID), 'project-archive' );
                .col-xs-4.page-layer__media--project--archive
                  .page-layer__media--project__cell
                    .archive-media--project-wrap
                      .archive-media--project
                        .archive-media--photograph-wrap
                          .archive-media--background
                          a.js-navi-single(href!='<?php the_permalink(); ?>')
                            .archive-media--photograph(style!="background-image:url('<?php echo $thumbnail_url; ?>');")
                            .archive-media--photograph-shadow
                            +ui-loader
                        article.archive-media--project__article
                          h3.archive-media--project-title.ellipsis
                            a.js-navi-single(href!='<?php the_permalink(); ?>') <?php the_title(); ?>
                          //- ul.archive-media--project-tags.ui-tags
                          //-   <?php $post_tags = get_the_tags(); if ($post_tags) { foreach($post_tags as $tag) { ?>
                          //-   li.tag <?php echo $tag->name; ?>
                          //-   <?php } } ?>
                        //- footer.archive-media--project__footer
                        //-   .archive-media--project-year
                        //-     .starting-year <?php the_field( 'starting_year' ); ?>
                        //-     .separator -
                        //-     .end-year <?php the_field( 'end_year' ); ?>
                <?php }} ?>
            .archive-media--home__project__more
              a(href!='<?php echo get_post_type_archive_link("project"); ?>')
                | View more projects
                i.fa.fa-caret-right

    //- :php
    //-   // 投稿タイプの一覧を取得
    //-   $post_types = get_post_types( array( 'public' => true, '_builtin' => false ) );
    //-   $except_post_types = array('photolog', 'project');
    //-   $param = array(
    //-     'posts_per_page' => 8,
    //-     'post_type' => array_diff($post_types, $except_post_types),
    //-     'post_status' => 'publish',
    //-     'orderby' => 'date',
    //-     'order' => 'DESC'
    //-   );

