extends _application
include _ui
//-
  The template for displaying all pages.

  This is the template that displays all pages by default.
  Please note that this is the WordPress construct of pages and that other
  'pages' on your WordPress site will use a different template.

  @package WordPress
  @subpackage SFC_Bosalab_2013
  @since 1.0

block page_article
  <?php while ( have_posts() ) : the_post(); ?>

  :php
    $page = get_page( get_the_ID() );
    $page_slug = $page->post_name;
  div(data-id!="<?php the_ID(); ?>", class!="page-layer__media--<?php echo $page_slug; ?>--page")


    <?php if ( is_page( 'about' ) ) { ?>

    section.post-section.js-scroll
      hgroup.page-subtitle
        h2
          img.img-responsive.animate.fadeInUp(
            src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_professor_message_title_2x.png') ?>",
            width=980, height=114,
            style='width:980px; height:114px; visibility:hidden;',
            alt='SFCから、日本の、いや世界の防災を変えよう。'
          )
      p.text-field.animate.fadeIn(
        style='width:980px; height:114px; visibility:hidden;',
        data-wow-duration='1s'
      )
        | <?php the_field( 'professor_message' ); ?>

    section.post-section
      hgroup.page-subtitle
        .face(style!="background-image: url('<?php echo get_field('professor_face')['sizes']['medium']; ?>');")
        h2
          img.img-responsive(
            src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_about_professor_title_2x.png') ?>",
            width=980, height=75,
            style='width:980px; height:75px;',
            alt='大木 聖子（おおき さとこ）'
          )
      .socials
        a(href='http://raytheory.jp', target='_blank'): i.fa.fa-globe
        a(href='https://twitter.com/toko311', target='_blank'): i.fa.fa-twitter
        a(href='http://youtu.be/cAF8gcdMvGM', target='_blank'): i.fa.fa-youtube-play
        //- a(href='mailto:soki@sfc.keio.ac.jp', target='_blank'): i.fa.fa-envelope
      p.text-field <?php the_field( 'about_the_professor' ); ?>

    //- section.post-section
    //-   hgroup.page-subtitle
    //-     h2
    //-       img.img-responsive(
    //-         src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_about_projects_title_2x.png') ?>",
    //-         width=980, height=75,
    //-         alt='好きなタイミングで、好きなことに取り組んでください。'
    //-       )
    //-   p.text-field
    //-     span.explanation
    //-       | 防災に関連していれば、何をやっても構いません。
    //-       br
    //-       | ここでは、現在とりくんでいるプロジェクトの一部を紹介します。
    //-     ul.projects
    //-       li.project

    section.post-section.section-members
      hgroup.page-subtitle
        h2
          img.img-responsive(
            src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_members_title_2x.png') ?>",
            width=980, height=114,
            style='width:980px; height:114px;',
            alt='研究会の設立から1年。メンバーは50名を超えました。'
          )

      //- メンバー一覧
      .text-field-custom
        .face(style!="background-image: url('<?php echo get_field('member_face')['sizes']['large']; ?>');")
        ul.members.row
          :php
            $members = explode( '<br />', get_field( 'member_lists' ) ); // 行に分割
            $members = array_map( 'trim', $members ); // 各要素をtrim()にかける
            $members = array_filter( $members, 'strlen' ); // 文字数が0のものを取り除く
            $members = array_values( $members ); // キーを連番に振りなおす
            foreach ( $members as $key => $member ) {
              if ( substr($member, 0, 1) == '#' ) { // 一文字目が#だったならばタイトル行
                $member = substr($member, 1);
          li.member.member-th.col-sm-12.col-xs-12(data-member-id!="<?php echo $key; ?>")
            h4 <?php echo $member; ?>
          :php
            } else {
          li.member.col-sm-2.col-xs-4(data-member-id!="<?php echo $key; ?>")
            span <?php echo $member; ?>
          :php
            } }

    section.post-section
      hgroup.page-subtitle
        h2
          //- Join Us
          img.img-responsive.animate.pulse(
            src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_join_us_title_2x.png') ?>",
            width=980, height=114,
            style='width:980px; height:114px;',
            alt='わたしたちの研究会に、あなたも参加してみませんか。'
          )
      p.text-field <?php the_field( 'join_us' ); ?>
      .archive-media--page-about__buttons
        a(href!='/project', title!='Our Projects')
          .archive-media--page-about__button View Projects
        a(href!='/contact', title!='Contact Us')
          .archive-media--page-about__button Contact Us

    section.post-section
      .container
        //- タイトル
        .access.row
          .col-xs-12
            hgroup.page-subtitle
              h3
                img.img-responsive(
                  src!="<?php echo (get_template_directory_uri().'/public/images/about/overview_accessmap_title_2x.png') ?>",
                  width=254, height=41,
                  style='width:254px; height:41px;',
                  alt='アクセスマップ'
                )
          //- 住所とマップ
          .col-xs-12.col-md-6(style='margin-top:50px;')
            .container-fluid
              .row
                .col-xs-3.col-md-2(style='text-align:right;')
                  i.fa.fa-map-marker
                .col-xs-9.col-md-10
                  p.room
                    strong 慶應義塾大学 湘南藤沢キャンパス
                    span 研究棟 κ305
                  address.address
                    span 〒252-0882 神奈川県藤沢市遠藤5322
                    a(href='http://www.sfc.keio.ac.jp/maps.html', style='padding-left:8px;')
                      i.fa.fa-external-link
                      span 公式ウェブ
              .row
                .col-xs-offset-1.col-xs-10
                  p
                    span.attention
                      | ※ 当キャンパスへご来場される場合は、必ず事前にご連絡ください。
          .col-xs-12.col-md-6.google-maps: #map_canvas


    <?php } else if ( is_page( 'contact' ) ) { ?>

    section.post-section
      .contact-content-wrap
        .contact-content
          <?php echo do_shortcode('[contact-form-7 id="4" title="お問い合わせフォーム"]'); ?>

          //- | --- OR ---

          //- p
          //-   | Satoko Oki, Associate Professor
          //-   | office: k305, 5322 Endo, Fujisawa-shi, Kanagawa, 252-0882, JAPAN
          //-   | mail: soki [at] sfc.keio.ac.jp

    <?php } else { ?>

    section.post-section
      .contact-content-wrap
        .contact-content
          <?php the_content(); ?>

    <?php } ?>

    <?php endwhile; ?>


